@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}



$primary-color: #512D6D;
$secondary-color: #F8485E;
$unique-color: #00C1D4;
$genre-link-color: #113570;